@import 'vars';
@import 'mixins';

@include main;

nav {
	height: 5em;
	div {
		width: 20%;
		float: left;
		background: $orange;
		padding: 1em;
		height: 100%;

		img {
			float: left;
			width: 20%;

		}

		span {
			float: left;
			font-size: 1.5em;
			margin-top: .3em;
			text-decoration: underline;
			color: white;
		}
	}

	ul {
		list-style: none;
		float: left;
		background: $darkBlue;
		width: 80%;
		height: 100%;


		li {
			display: inline-block;
			width: 10%;
			padding: 2em;

			a {
				text-decoration: none;
				color: white;

				&:hover {
					text-decoration: underline;
				}
			}
		}

	}
}

header {
	background: url('../slike/intro.jpg');
	background-size: cover;
	padding: 32% 10% 8%;
	text-align: center;

	h1, h2 {
		color: white;
		font-weight: normal;
		background: rgba(55, 66, 73, 0.5);
	}

	h1 {
		font-size: 3em;
	}

	h2 {
		font-size: 1.2em;
	}

}

section {
	padding: 2.5em 20%;
}

.buttons {
	text-align: right;

	.but {
		padding: 1em 2em;
		border: 1px solid $lightHover;
		border-radius: 20%;
		margin: 0 1em;
		color: $lightHover;
		text-decoration: none;

		&:hover {
			background: $lightHover;
			color: white;
		}
	}
}

.section1 {
	background: $lightBack;
	@include clearfix;
	.col {
		float: left;
		width: 20%;
		height: 18em;
		margin: 1em;
		@for $i from 1 through 6 {
		&.col#{$i} { 
			background: url('../slike/#{$i}.jpg'); 
			background-size: cover;	
		}
		}

		&:hover .info{
			display: block;
		}

		.info {
			display: none;
			background: rgba(255, 255, 255, 0.5);
			padding-bottom: 2em;
			h1, h2 {
				font-weight: normal;
				color: black;
			}
		}

	}
}

.section2 {
	text-align: center;

	.pricingButt {
		display: none;
	}
	

	h3 {
		font-weight: normal;
		color: $darkBlue;
		margin-bottom: 2em;
		color: $fontCol;
	}

	table {
		margin: 0 auto;
		width: 70%;
		border-collapse: collapse;

		td {
			padding: 6px 40px;

		}

		.orange {
			background: $orange;
			color: white;
			border: 1px solid $fontCol;
		}

		.grey {
			background: $darkBlue;
			color: white;
			border: 1px solid $fontCol;
		}

		.white {
			border: 1px solid $fontCol;
			color: $fontCol;
		}		
	}
}

.head {
		text-transform: uppercase;
		margin-bottom: 2em;
		color: $darkBlue;
	}

.section3 {

	background: $lightBack;
	@include clearfix;

	h2 {
		text-align: center;

	}

	iframe {
		float: left;
		width: 15em;
		height: 15em;
	}

	form {
		float: right;
		width: 60%;
		height: 13em;
		background: $orange;
		padding: 1.5em;
	}

	select {
		display: inline-block;
		width: 25%;
		margin-right: 2em;
	}

	.contactInput {
		height: 2em;
	}

	.contactInput[type="text"] {
		display: inline-block;
		width: 66%;
	}

	.contactInput[type="e-mail"] {
		display: inline-block;
		width: 98.5%;
		margin-top: 1em;
	}

	textarea {
		display: inline-block;
		margin-top: 1em;
		width: 98.5%;
		height: 5em;

	}
}

footer {
	background: $darkBlue;
	text-align: center;
	color: white;
	padding: .4em;

	span {
		color: $orange;
	}
}

@media screen and (max-width: 1200px) {

	header {
		padding: 20% 30%;
	}

	.section1 {
		.col {
			width: 40%;
		}
	}

	.section2 {
		table {
			width: 100%;
		}
	}

	.section3 {

		iframe {
			display: block;
			float: none;
			margin: 0 auto;
		}

		form {
			display: block;
			float: none;
			margin: 2em auto;
			width: 80%;
		}
	}

}

@media screen and (max-width: 700px) {

	nav {
		div {
			width: 100%;
			display: block;

			img {
				width: 3em;
			}
		}

		ul {
			width: 100%;
			float: left;
			display: block;
			text-align: center;

			li {
				width: 100%;
				display: block;
				height: 2em;
				background: $darkBlue;
			}
		}

	}

	header {
		background: none;
		background-color: black;
		height: 30em;
		padding: 40% 10% 8%;

		h1, h2 {
			background: none;
		}

	}

	.buttons {
		padding-right: 10%;
		padding-left: 10%;
	}

	.section1 {
		.col {
			width: 100%;

			.info {
				display: block;
			}
		}
	}

	.section2 {
		table {
			display: none;
		}

		.pricingButt {
			display: block;
			padding: 1em 2em;
			border: 1px solid $lightHover;
			border-radius: 20%;
			color: $lightHover;
			text-decoration: none;
			width: 50%;
			margin: 0 auto;
		}
	}

	.section3 {
		form {

			height: 14em;
			
			.contactInput[type="text"], select {
				display: block;
				width: 98.5%;
			}

			select {
				margin-bottom: 1em;
			}
		}
	}
}

