@import 'vars';
@import 'mixins';

@include main;

nav {
	height: 5em;
	div {
		width: 20%;
		float: left;
		background: $orange;
		padding: 1em;
		height: 100%;

		img {
			float: left;
			width: 20%;

		}

		span {
			float: left;
			font-size: 1.5em;
			margin-top: .3em;
			text-decoration: underline;
			color: white;
		}
	}

	ul {
		list-style: none;
		float: left;
		background: $darkBlue;
		width: 80%;
		height: 100%;


		li {
			display: inline-block;
			width: 10%;
			padding: 2em;

			a {
				text-decoration: none;
				color: white;

				&:hover {
					text-decoration: underline;
				}
			}
		}

	}
}

header {
	background: url('../slike/intro.jpg');
	background-size: cover;
	padding: 32% 10% 8%;
	text-align: center;

	h1, h2 {
		color: white;
		font-weight: normal;
		background: rgba(55, 66, 73, 0.5);
	}

	h1 {
		font-size: 3em;
	}

	h2 {
		font-size: 1.2em;
	}

}

section {
	padding: 2.5em 20%;
}

.buttons {

	
	text-align: right;

	.but {
		padding: 1em 2em;
		border: 1px solid $lightHover;
		border-radius: 20%;
		margin: 0 1em;
		color: $lightHover;
		text-decoration: none;

		&:hover {
			background: $lightHover;
			color: white;
		}
	}
}

.section1 {
	background: $lightBack;
	@include clearfix;
	.col {
		float: left;
		width: 20%;
		height: 18em;
		margin: 1em;
		@for $i from 1 through 6 {
		&.col#{$i} { 
			background: url('../slike/#{$i}.jpg'); 
			background-size: cover;	
		}
		}

		&:hover .info{
			display: block;
		}

		.info {
			display: none;
			background: rgba(255, 255, 255, 0.5);
			padding-bottom: 2em;
			h1, h2 {
				font-weight: normal;
				color: black;
			}
		}

	}
}


